@import url('https://fonts.cdnfonts.com/css/inspire');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /* body peut remplacer par etoile cela correspond a tous le site*/
    background-color: #050714;
    color:#F9F9F9;
    font-family: Inspire, sans-serif;
}
body p{
    color: rgb(192, 192, 192);
    margin: 20px 0 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.section_1 img {  /*  permet d'appeler la balise image specifiquementde la balise section_1 */
    width:100%;
    height:auto;
    position: static;
    object-fit: cover;
    
}

.button-style{
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.849);
    border-color: #C0C0C0;
    border-width: 1px;
    border-radius: 3.5px;
    border-style: solid;
    padding: 12px; 
    position: absolute;
    top: 1.5%;
    left: 108rem;
    cursor: pointer;
    transition:  0.2s;
    color: #C0C0C0 ;
    text-decoration: none;
    margin: 10px;
    transition:  0.2s;

}

.section_1 .button-style:hover {
    background-color: #F9F9F9;
    color: #050714;
}


.section_1 div{
    position: absolute;
    text-align: center;
    display: block;
    margin: auto;
    top: 47.5%;
    bottom: 50%;
    left: 1%;
    right: 1%;
}

#email_section-1{ /*Ou input[type="email"]*/
    background-color: #32343E;
    font-size: 18px;
    color: #656668;
    position: relative;
    border: 1px solid #32343E;
    border-radius: 4px 0 0 4px ;
    box-sizing: border-box;
    outline: none; /*enlever la ligne par default*/
    padding: 15px;
    padding-right: 250px;
    text-align: left;
}
#button_inscrire:focus{
    background-color: #02B6C5;
}

#button_inscrire /* Ou input[type="submit"] */{
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #05D6E8;
    border: 1px solid #05D6E8;
    border-radius: 0 4px 4px 0 ;
    font-size: 18px;
    position: relative;
    color: #022737;
}

.section_1 h1{
    font-size: 44px;
}

.section_1 h2{
    font-size: 40px;
}

.p1_section_1{
    font-size: 16px;
}

.p2_section_1{
    font-size: 12px;
}

.section_1 .chevron_style {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #BEBEBF;
    font-size: 20px; /* Adjusts the icon size */
    cursor: pointer; /* If it's a button or clickable element */
    transition: transform 0.5s ease-in-out;
    animation: slidein 3s linear 1s infinite alternate;
}

.section_1 .chevron_style:hover {
    color: #F9F9F9;
}

@keyframes slidein {
    0% {
        transform: translateX(-100px); /* Start from the left outside the screen */
    }
    100% {
        transform: translateX(0px); /* Slide in to its original position */
    }
}

@media  screen and (max-width: 768px){


    .section_1 h1 {
        font-size: 1.5em;
        top: 850px; /* Moves all text 50px to the right */
        z-index: 1;
    }

    .section_1 h2{
        font-size: 0.5em;
    }
    
    .section_1 img {
        width: 200%;  /* Ensure it scales correctly */
    }

    #email_section-1, #button_inscrire{
        width: 100%;
        margin-top: 10px;
    }

    .section_2 h2{
        font-size: 0.5em;
    }

    .section_3 img {
        width: 100%;  /* Ensure it scales correctly */
    }
    
    .section_5.button_plus{
        position: absolute;
        height: 30px;
        top: 20px;
        left:100rem;
        }

    

    .section_6 .devices{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-left:700px; /* Move the grid content to the left by 50px */
        justify-content: end; /* Aligns the grid to the right */
    }

}


/*@media screen and (min-width: 767px) and (max-width: 1023px) {
    .section_1 img {
        width: 70%;
    }

    .section_2 img {
        width: 70%;
    }

    .section_1 div {
        font-size: 80%;
    }
}*/

/*Section n°2 Shogun*/
.section_2 h2{
    font-size: 32px;
}

.section_2 p{
    font-size: 18px;
}

.section_2 img {  /* permet d'appeler la balise image specifiquementde la balise section_1 */
    width:100%;
    height:auto;
    position: relative;
}

.section_2 div {
    position: absolute;
    text-align: left;
    top: 140.99%;
    padding-left: 5%;
}
.p1_section_2{
    font-size: 18px;
}

.p2_section_2{
    font-size: 12px;
}

.text_gauche p {
    text-align: left;
    font-size: 12px;
}

.button_inscrire {
    background-color: #05D6E8;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 5px 5px 0px;
    color: #050714;
    border: 0px;
    cursor: pointer;
}

.button_email {
    padding: 10px;
    padding-left: 100px;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background-color: #05D6E8;
    border: 0px;
    border-width:0.2px;
}

/*Section n°3 tableau*/

.section_3 h2{
    text-align: center;
    font-size: 40px;
}

.section_3 p{
    font-size: 12px;
    width: 78%;
    padding-left: 22%;

    
}

.section_3 table{
    text-align: center;
    cursor: pointer;  
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
    padding-top: 40px; 
    border-collapse: collapse;

}

.section_3 td{
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-bottom: 1px solid;
    border-color:#3D3F48 ;
}

.column1{
    text-align: left;
    padding-left: 0;
}

.column4{
    background-color: #1D1F2B;
}

.section_3 .fafa-check{
    font-size:10%;
    color:#F9F9F9;
}

.section_3 .minus{
    color: #3D3F48;
}

/*Section n°4 Loki + caractéristiques*/

.section_4 h2{
    font-size: 40px;
    text-align: center;
}

.section_4 p {
    font-size: 18px;
    text-align: center;

}

.img_section4{
    position: static;
    width:100%;
    height:auto;
}

.characteristic img{
    position: static;
    width:35%;
    height:auto;
    object-fit: cover;
    margin-bottom: 18px;
}

.characteristic {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if necessary */
    justify-content: center; /* Centers all the items */
    align-items: flex-start; /* Aligns items at the top */
    gap: 60px; /* Adds space between the items */
    margin-bottom: 30px;
}

.characteristic_1, .characteristic_2, .characteristic_3 {
    padding: 5px;
    width: 23%;
    height: auto; /* Ensure all sections have equal width */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;/* Center content horizontally */
    padding-bottom: 101px;
}

.characteristic_1, .characteristic_2, .characteristic_3 h4 {
    font-size: 28px;
}/*Section n°5: questions*/

.section_5{
    margin-bottom: 100px;
}
.section_5 h2{
    text-align: center;
    font-size: 40px;  
}

.question1,.question2,.question3,.question4 h3{
    font-size: 20px;
    cursor: pointer;
}

.answer1,.answer2,.answer3,.answer4 p{
    font-size: 16px;
}
.question1,.question2,.question3,.question4 {
    background-color: #13151D;
    position: relative;
    max-width: 100%;
    height: auto;
    margin-left:80px;
    margin-right:80px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 18px;
    padding-top: 18px;
    
}

.button_plus{
    position: absolute;
    height: 30px;
    top: 20px;
    left:105rem;
    
}

.answer2 ul, .answer4 ol{
    color: rgb(192, 192, 192);
    padding-left: 20px;
    padding-left:20px;
}

.answer2 ul li, .answer4 ol li {
    margin-bottom: 5px; /* Spacing between list items */
   
}



/*Section n°6 appareils*/

.section_6 h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.section_6 h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.section_6 div ul{
    font-size: 16px;
    color:#F9F9F9;
    list-style-type: none;
}

.section_6 img{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: row; /*Pour faire l'espace entre les liste*/
    justify-content: space-between;
}

.section_6 {
    text-align: center;
    padding: 20px;
}

.devices {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if necessary */
    justify-content: center; /* Centers all the items */
    align-items: flex-start; /* Aligns items at the top */
    gap: 8px; /* Adds space between the items */
}

/* Individual device category styling */
.TV, .laptop, .mobiles, .manette {
    padding: 20px;
    width: 23%;
    height: auto; /* Ensure all sections have equal width */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

/* Image styling for device icons */
.section_6 img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

footer img{
    height: auto;
    width: 6%;
}

.footer_links a{
    margin-top: 10px;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: rgb(192, 192, 192);
    text-transform: capitalize;
}

footer p, .footer_links{
    text-align: center;
    font-size: 12px;
    
}

footer li{
    display: inline-flex; /*Pour mettre la liste en ligne*/
    justify-content: space-between; /*Pour faire l'espace entre les liste*/
    margin: 10px; /*Pour rajouter les espaces entre les listes*/
}

footer li:focus{
    color: #F3F3F4;
}

footer #globe{
    color: #F3F3F4;
}

#lang{
    background-color: #050714;
    color: #F9F9F9;
    border-width: 0;
}

#lang:hover{
    border-color: #F9F9F9;
}

#globe{
    color: #F3F3F4;
}